@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .hero {
    max-width: 768px;
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 40px;
  }
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits-item {
    width: calc((100% - 24px) / 2);
  }
}
